<?xml version='1.0' encoding='utf-8'?>
<plugin id="zebra-rfid" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-zebra-rfid</name>
    <js-module name="cordova-plugin-zebra-rfid" src="www/zebra-rfid.js">
        <clobbers target="zebraRfid" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="zebraRfid">
                <param name="android-package" value="cn.shuto.zebra.rfid.ZebraRfidPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/cn/shuto/zebra/rfid/RFIDCallBack.java" target-dir="src/cn/shuto/zebra/rfid" />
        <source-file src="src/android/cn/shuto/zebra/rfid/RFIDHandler.java" target-dir="src/cn/shuto/zebra/rfid" />
        <source-file src="src/android/cn/shuto/zebra/rfid/ZebraRfidPlugin.java" target-dir="src/cn/shuto/zebra/rfid" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <lib-file src="src/android/API3_LIB-release-1.0.2.116.aar" />
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
        <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+" />
    </platform>
</plugin>
